md-card {
    margin:1em;
    padding: 1em;
}
div.icon {
    margin-left: 1em;
    text-align: center;
}

span.main-name{
    font-family: 'Oswald', sans-serif;
    margin-left:0.5em;
    margin-right:0.5em;
}
